h1{
	text-transform: capitalize;
	color: #116031;

}
body{
	background:url(http://p1.pichost.me/i/16/1394275.jpg);
    border:#334f59 solid 10px;
    margin:5% 15%;
    padding-bottom: 20px;
}
#address{
	color: #164577;
	font-family: arial;
	/*font-style: bold;*/
	/*margin-left: 10%;
	margin-right: 10%;*/

}
#lab{
	border-bottom: #164577 2px solid;

	font-family: arial;
	
	/*margin-left: 10%;
	margin-right: 10%;*/
	padding-bottom: 5px;
}
.one{
	margin-left: 10%;
	margin-right: 10%;
	font-family: arial;

}
img{
	padding-top: 10px;
	width: 50px;
	height: 50px;

}
.year{
	text-align: right;
	/*margin-right: 10%*/
	font-style:bold;
}
table{
	padding-top: 10px;
}
td{
	text-align: center;
}
ul{
	padding-bottom: 10px;
}